#------------------#
# IDEs and Editors #
#------------------#

# JetBrains
.fleet
.idea
*.iml
*.ipr
*.iws

# Sublime Text
*.sublime-*

# Visual Studio Code
.vscode

# Zed
.zed

#-------------------#
# Operating Systems #
#-------------------#

# External Drives
.Spotlight-V100
.Trashes

# Linux
*~

# Mac OS
/.DS_Store
*.DS_Store

# VIM
.*.sw[a-p]

#-------------------#
#   Project Files   #
#-------------------#

# Nix
.direnv
result*

# Rust artifacts
target/

# Node artifacts
build/
prebuilds/
node_modules/

# Swift artifacts
.build/

# Go artifacts
_obj/

# Python artifacts
.venv/
dist/
*.egg-info
*.whl

# C artifacts
*.a
*.so
*.so.*
*.dylib
*.dll
*.pc

# Example dirs
/examples/*/

# Grammar volatiles
*.wasm
*.obj
*.o

# Archives
*.tar.gz
*.tgz
*.zip
